<template>
  <div class="container flex justify-content-center">
    <h2 class="text-muted text-center mt-4 fs-4">BMI Calculator</h2>
  </div>

  <div class="d-flex justify-content-center mb-3 gap-3">
  <input type="number" v-model="weight" placeholder="Enter weight (kg)" class="py-1 px-1 border  border-info">
  <input type="number" v-model="height"  placeholder="Enter height (feet)"  class="py-1 px-1 border  border-info"> 
  <button type="button" @click="calcBMI" class="d-flex justify-content-center border  border-info">Compute</button>
  </div>
  <div class="d-flex justify-content-center mb-3 gap-3">
    <input v-model="value" class="border border-light text-info" type="text" disabled>
    <input v-model="BMI" class="border border-light text-info" type="text" disabled>
  </div>
  <div class="container flex justify-content-center mt-4 ">
  <div class="text-capitalize text-muted fs-4 d-flex justify-content-center">records for current six entries</div>
    <table class="table table-bordered border  border-info table-hover">
      <thead>
        <tr class="text-center">
          <th scope="col" class="text-muted">Weight</th>
          <th scope="col" class="text-muted">Height</th>
          <th scope="col" class="text-muted">BMI Value</th>
          <th scope="col" class="text-muted">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(histor, index) in history" :key="index" class="text-center">
          <td>{{ histor.weight }}</td>
          <td>{{ histor.height }}</td>
          <td>{{ histor.BMI}}</td>
          <td @click="deleteHistory(index)">
            <span role="button"><font-awesome-icon class="text-muted" icon="fa-solid fa-trash" /></span>
          </td>
        </tr>
      </tbody>
    </table>
    </div>

</template>

<script>

export default {
  name: "HomeView",

  data() {
    return {
      weight:'',
      height:'',
      BMI:'',
      value:'',
      history:[],
    }
  },

  //Methods goes here
  methods:{

  calcBMI(){
  if(this.weight.length || this.height.length == 0) return;
    this.history.push({
      weight: this.weight,
      height: this.height,
      BMI: this.BMI})
        if(this.history.length ==8){
          this.history.shift();
        }
      
    //Formula for the BMI
    var x=this.weight/this.height;
    //conditions to determine BMI
    if(x >=18.5 && x <=24.9){
      this.value="BMI Value: " + x.toFixed(2); 
      this.BMI="Your Normal";
    }
    else if(x <18.5){
      this.value="BMI Value: " + x.toFixed(2); 
      this.BMI="Your Underweight";
    }
    else if(x >=25 && x <=29.9){
      this.value="BMI Value: " + x.toFixed(2); 
      this.BMI="Your Overweight";
    }
    else{
      this.value="BMI Value: " + x.toFixed(2); 
      this.BMI="Your have Obesity";
    }
     
    //Clear input field for weight and height after 
    //computed button is clicked
    this.weight='';
    this.height='';
    //this.BMI='';
    //this.value='';
    },

    //Function to delete a row history
    deleteHistory(index) {
      this.history.splice(index, 1);
    }
    }
  }
 
</script>
