<template>
  <div class="container flex justify-content-center">
    <h2 class="text-muted text-center mt-4">To Do App</h2>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <input v-model="task" class="w-25 border  border-info py-1 px-1" type="text" placeholder="add task" />
    <button @click="addTask" type="button" class="ms-2 border  border-info py-1 px-1">Submit</button>
  </div>

  <div class="container flex justify-content-center mt-4">
    <table class="table table-bordered border  border-info table-hover">
      <thead>
        <tr class="text-center">
          <th scope="col">Task</th>
          <th scope="col">Status</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(task, index) in tasks" :key="index" class="text-center">
          <td>{{ task.name }}</td>
          <td>{{ task.status }}</td>
          <td @click="editTask(index)">
            <span role="button"><font-awesome-icon class="text-muted" icon="fa-solid fa-pencil" /></span>
          </td>
          <td @click="deleteTask(index)">
            <span role="button"><font-awesome-icon class="text-muted" icon="fa-solid fa-trash" /></span>
          </td>
          <div>
            <div class="form-check">
              <input
                @change="progress(index, $event)"
                :key="index"
                class="form-check-input"
                type="checkbox"
                id="In progress"
              />
              <label class="form-check-label" for="In progress">In progress</label>
            </div>

            <div class="form-check">
              <input
                :class="{ comp: checkss }"
                @change="Complete(index, $event)"
                :key="index"
                class="form-check-input"
                type="checkbox"
                id="Completed"
              />
              <label class="form-check-label" for="Completed">Completed</label>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "todoAppView",

  data() {
    return {
      checks: false,
      checkss: false,
      task1: "to do",
      task2: "finished",
      task: "",
      taskEdit: null,
      tasks: [
        {
          name: "task number 1",
          status: "to do",
        },
        {
          name: "task number 2",
          status: "finished",
        },
      ],
    };
  },
  methods: {
    addTask() {
      if (this.task.length === 0) return;
      if (this.taskEdit == null) {
        // add task
        this.tasks.push({
          name: this.task,
          status: "to do",
        });
      } else {
        // get the index of the item you want to edit then put the new task value
        this.tasks[this.taskEdit].name = this.task;
        this.taskEdit = null;
      }
      //  to clear the input value
      this.task = "";
    },

    deleteTask(index) {
      this.tasks.splice(index, 1);
    },
    editTask(index) {
      this.task = this.tasks[index].name;
      this.taskEdit = index;
    },
    progress(index, e) {
      let checkboxVal = e.target.checked;

      if (checkboxVal == true) {
        this.tasks[index].status = "task in progress";
        this.checks = index;
      } else {
        this.tasks[index].status = "to do";
      }
    },
    Complete(index, e) {
      let checkboxVal = e.target.checked;

      if (checkboxVal == true) {
        this.tasks[index].status = "Completed";
        this.checkss = index;
      } else {
        this.tasks[index].status = "To do";
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.comp {
  color: red;
}
</style>
