<template>
  <header class="flex container bg-info mt-1 mb-2 pt-2 pb-2 text-decoration-none">
     <div>
        <nav class="d-flex justify-content-center ">
           <router-link to="/" class="text-decoration-none me-4 text-muted">BMI</router-link> 
           <router-link to="/todoApp" class="text-decoration-none text-muted ">TodoApp</router-link>
        </nav>
     </div>
  </header>
  
  <router-view />
</template>

